.main
{	
       background-color:lightblue;
		height:120px;
}

/*.a
{		
        width:inherit;
        height:59px;
        
}*/
/*.b
{
        background-color:#85D2BC;
        color:#41414;
}*/

	

.drop1
{
    background-color: white;
    color:black;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:35px;
    border:none;
    text-align:center;
    
}

.dropdown
{
    position: relative;
    display: inline-block;
}
.cont
{	
    display:none;
    position:absolute;
    background-color:transparent;
    

}
.cont a
{
      background-color:#599bb3;
    border-radius:28px;
    border:1px solid #29668f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}.cont a:hover
{ 	
     background-color:#206873;
}
.dropdown:hover .cont
{
    display:block;
}
.dropdown:hover .drop
{
    background-color:grey;
}
.drop1 a
{	
    text-decoration:none;
    display:block;
}
.drop1:hover 

{
    background-color:black;
}




.Search1  
{
     border-radius:28px;
     font-size:17px;
    padding:5px 15px;
	background-color:antiquewhite;
    text-decoration:none;
    text-shadow:0px 1px 0px;
}

.Search1:hover 
{
    background-color:white;
}
.Search1:active 
{
    position:relative;
    top:1px;
}
.Search2 
{
     border-radius:28px;
     font-size:17px;
    padding-top:50px;
	background-color:antiquewhite;
    text-decoration:none;
    text-shadow:0px 1px 0px white;
}

.Search2:hover 
{
    background-color:#599BB3;
}
.Search2:active 
{
    position:relative;
    top:1px;
}

.flex-container{
	display:flex;
	flex-direction: row;
}
.flex-left {
    width: 50%;
    height: 25vh;
	padding:50px;
}

.flex-right {
    width: 50%;
	padding:50px;
}
.product
{
	background-color: #ADD8E6;
	height:370px;
}

.box
{
	text-align:#006;
	text-decoration: none;
}
