.main1{
	margin:0;
	padding:0;
	height:300px;
	display:flex;
	background-color:lightgray;
}
.slider
{
	width:2000px;
	height:400px;
	border-radius:10px;
	overflow:hidden;
}
.slides
{
	width:500%;
	height:300px;
	display:flex;
}
.slides input
{
	display: none;
}
.slide{
	width:20%;
	transition:2s;
}
.slide img{
	width:100%;
	height:300px;
}
.navigation-manual{
	position:absolute;
	width:1400px;
	margin-top: -40px;
	display:flex;
	justify-content: center;
}
.manual-btn{
	border: 2px solid #8A8888;
	padding:5px;
	border-radius:10px;
	curser:pointer;
	transition:1s;
}
.manual-btn:not(:last-child)
{
	margin-right:40px;
}
.manual-btn:hover
{
	background:#8A8888;
}
#radio1:checked ~.first{
	margin-left:0;
}
#radio2:checked ~.first{
	margin-left:-20%;
}
#radio3:checked ~.first{
	margin-left:-40%;
}
#radio4:checked ~.first{
	margin-left:-60%;
}
.navigation-auto{
 position:absolute;
	width:1400px;
	margin-top: 260px;
	display:flex;
	justify-content: center;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}


/*.photo{
	width:100%;
	height: 330px;
	position:absolute;
	left:50%;
	top:42%;
	transform: translate(-50%, -50%);
	background-image:url("ip1.jpg") ;
	background-size:100% 100%;
	box-shadow:1px 2px 10px 5px black;
	animation:slider 20s infinite linear;
	}
	@keyframes slider
		{
			0%{background-image:url("sam.jpg") ; }
			25%{background-image:url("iph.jpg") ;}
			50%{background-image:url("sa2.jpg") ;}
			75%{background-image:url("ip2.jpg") ;}
		}
		t{
			color:navy; 
			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		}
		t1{
			color:crimson; 
			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		}