{% extends "base.html" %}

{% block main %}

<style>
    .addButton {
        border-radius: 15px;
    }
</style>
<!----add item-->
<div class="row pt-5">
    <div class="col-md-10 text-center">
        <h1 class="text-success">Add Items</h1>
    </div>
    <!-- Button trigger modal -->
    <div class="col-md-2 d-flex justify-content-center">
        <button type="button" class="btn btn-outline-success addButton" data-bs-toggle="modal"
                data-bs-target="#additem">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<!-- Modal -->
<div class="row">
    <div class="col-md-12 m-3">
        <table class="table table-dark mt-5 text-center">
            <tr>
                <th>SNO.</th>
                <th>Product image</th>
                <th>Product name</th>
                <th>Product Price</th>
                <th>Product Category</th>
                <th>Product Conditon</th>
                <th>Action</th>
            </tr>

            {%for good in goods %}
            <tr>
                <td>{{loop.index}}</td>
                <td><img src="/images/{{good.photo}}" height="50px" width="10px"></td>
                <td>{{good.name}}</td>
                <td>{{good.buy_price}}</td>
                <td>{{good.category}}</td>
                <td>{{good.condition}}</td>
                <td><button type="button" class="btn btn-outline-success addButton" data-bs-toggle="modal"
                            data-bs-target="#viewItem-{{good.gid}}">

<!--                    <a href="/view/{{good.gid}}"> <button class="btn btn-danger" > View</button></a>-->
                </td>
            </tr>
            {%endfor%}

        </table>
    </div>
</div>
<div class="table">
    <div class="table_header">
        <div class="modal fade modal-color" id="additem" tabindex="-1" aria-labelledby="additemLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-secondary" id="additemLabel">Add Items </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body-add">

                        <form class="rounded bg-white shadow p-5 text-center" method="POST"
                              enctype="multipart/form-data" f;>
                            <div class=" register_padding">
                                <i class="text-danger fa-solid fa-up-from-bracket"></i>
                                {{ form.hidden_tag() }}
                                <div class="image-upload">
                                    <label for="file-input">
                                        <i class="fa-solid fa-circle-arrow-up icon-size"></i>
                                    <input type="file" id="file-input" class="form-control modal-input" style="display: none" name="photo" class="photo">
                                    </label>
                                </div>
<!--                                <input type="file" class="form-control modal-input" name="photo" class="photo">-->
                                {% for error in form.photo.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control modal-input" name="name" id="name"
                                           placeholder="Enter Product name">
                                    <label for="floatingproduct_name">{{ form.name.label }}</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control modal-input" name="buy_price" id="buy_price"
                                           placeholder="Enter Product Price">
                                    <label for="floatingproduct_price">{{ form.buy_price.label }}</label>
                                </div>
                                <div class="form-floating mb-3">
                                    {{form.label}}
                                    {{form.category(class=' form-control modal-input')}}
                                </div>
                                <div class="form-floating mb-3">
                                    {{form.label}}
                                    {{form.condition(class='form-control modal-input')}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" name="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="table">
    <div class="table_header">
        <div class="modal fade modal-color" id="viewItem-{{good.gid}}" tabindex="-1" aria-labelledby="viewitemLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-secondary" id="viewitemLabel">View Items </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body-add">
<!--                        {% for good in good %}-->
<!--                            {{good.name}}-->
<!--                        {%endfor%}-->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
