{% extends "base.html" %}

{% block main %}


<!----add item-->
<div class="table">
    <div class="table_header">
        <p>Add Items</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#additem">
            Add Item
        </button>
        <!-- Modal -->
        <div class="modal fade" id="additem" tabindex="-1" aria-labelledby="additemLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="additemLabel">Add Items</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body-add">
                        <form class="rounded bg-white shadow p-5" method="POST" enctype="multipart/form-data"f;>
                            {{ form.hidden_tag() }}
                            Product Image
                            <input type="file" class="form-control" name="photo" class="photo">
                            {% for error in form.photo.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="name" id="name"
                                    placeholder="Enter Product name">
                                <label for="floatingproduct_name">{{ form.name.label }}</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="buy_price" id="buy_price"
                                    placeholder="Enter Product Price">
                                <label for="floatingproduct_price">{{ form.buy_price.label }}</label>
                            </div>
                            <div class="form-floating mb-3 form-control">
                                <label>{{form.label}}</label>
                                {{form.category}}
                            </div>
                            <div class="form-floating mb-3">
                                {{form.label}}
                                {{form.condition}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" name="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}