{% extends "base.html" %}

{% block main %}

<!----Approved Items-->
<div class="table">
    <div class="table_header">
        <p>{{action}} Items</p>
            
    </div>
    <div class="table_section">
        <center>
            <table>
                <thead>
                    <tr>
                        <th>SNO.</th>
                        <th>Product image</th>
                        <th>Product name</th>
                        <th>Procuct Price</th>
                        <th>Procuct Category</th>
                        <th>Product Conditon</th>
                        <th>Seller</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {%for good in goods %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td><img src="/images/{{good.photo}}"></td>
                        <td> {{good.name}}</td>
                        <td>{{good.buy_price}}</td>
                        <td>{{good.category}}</td>
                        <td>{{good.condition}}</td>
                        <td>{{good.seller}}</td>
                        
                        <td>{%if not good.verifycheck%}<a href='/admin/goods/approve/{{good.gid}}' class="btn btn-primary">Approve</a> {%endif%}
                            <a class="btn btn-danger" href="/good/delete/{{good.gid}}">Delete</a></td>

                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </center>
    </div>
</div>

{% endblock %}
