{% extends "base.html" %}

{% block main %}

<!--cart item-->

<div class="wrapper">
    <h1>shopping-cart</h1>
    <div class="pro">
        <div class="shop">
            {% for good in goods %}
            <div class="box">
                <img style="width:auto; height:auto" src="/images/{{good.photo}}" alt="">
                <div class="content">
                    <h3>{{good.name}}</h3>
                    <h4>Price:{{good.sell_price}}</h4>
                    <h4>Category:{{good.category}}</h4>
                    <h4>Condition:{{good.condition}}</h4>
                    <p class="unit">Quantity:<input value="1"></p>
                    <p class="btn-area">
                        <i class="fa fa-trash"></i>
                        <span class="btn2"><a href='/cart/delete/{{good.gid}}'>REMOVE</a></span>
                    </p>
                </div>
            </div>
           
            {%endfor%}
        </div>
        <div class="right-bar">
            <p><span>Subtotal</span><span>$40</span></p>
            <hr>
            <p><span>Tax(5%)</span><span>$6</span></p>
            <hr>
            <p><span>shipping cost</span><span>$5</span></p>
            <hr>
            <p><span>Tax(5%)</span><span>$6</span></p>
            <hr>
            <p><span>Total</span><span>$57</span></p>


            <a href="/checkout"><i class="fa fa-shopping-cart"></i>Checkout</a>
        </div>
    </div>
</div>
<!---cart item end-->

{% endblock %}