{% extends "base.html" %}

{% block main %}
<!----Order-->
<div class="table">
    <div class="table_header">
        <p>Ordered Product</p>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" name="order_search-btn" type="submit">Search</button>
              </form>
    </div>
    <div class="table_section">
        <center>
        <table id="order">
            <thead>
                <tr>
                    <th>SNO.</th>
                    <th>Product image</th>
                    <th>Product name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {%for good in goods %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><img src="/images/{{good.photo}}"></td>
                    <td> {{good.name}}</td>
                    <td>{{good.price}}</td>
                    <td>{{good.category}}</td>
                    <td>{% if good.status %} Ordered Successfully {%else%} Order Pending {%endif%}</td>
                </tr>
                {%endfor%}
               
            </tbody>
        </table>
    </center>
    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#order').dataTable({
            searching: false,
            colReorder: true,
            responsive: true
        });
    });
</script>
{% endblock %}