{% extends "base.html" %}

{% block main %}
<!----Added Items-->
<div class="table">
    <div class="table_header">
        <p>Payment Details</p>
            
    </div>
    <div class="table_section">
        <center>
            <table>
                <thead>
                    <tr>
                        <th>SNO.</th>
                        <th>Product image</th>
                        <th>Product name</th>
                        <th>Payment Status</th>
            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img src="img/lehenga.jpeg"></td>
                        <td> Lehenga</td>
                        <td>Done</td>
                       
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
</div>

{% endblock %}
